servers:
  my_first_server:
    host: localhost
    user: root
    port: 32768
    check_command: ps aux | grep ssh | wc -l
    requested_value: "4" # output is a string in fabric
    notify: true
    slack_token: ....
    slack_channel: #random
    fix_command: echo ciao
