[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fabric = "*"
slackclient = "*"
requests = "*"
boto3 = "*"
pyyaml = "*"
uuid = "*"
dictor = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
